#mainSection {
}

.navBar {
  width: 100%;
  background: white;
}

.navBar div {
  display: inline-block;
}

.navBarLeft {
  width: 33%;
}

.navBarTitle {
  width: 34%;
  text-align: center;
  font-size: 24px;
  color: black;
}

.navBarSettings {
  width: 33%;
  text-align: right;
}

.settingsButton {
  border: 1px solid black;
  font-size: 24px;
}

.settingsButton:hover {
  background-color: black;
  color: white;
}

#panel {
  position: absolute;
  right: 0;
  width: 180px;
  top: 0;
  bottom: 0;
  box-shadow: 0px 0px 15px black;
  background: white;
  padding: 10px;
  -webkit-transform-origin: 100% 50%;
  -webkit-transform: scaleX(0.00001);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  outline: 0;
}

#panel:target {
  -webkit-transform: scaleX(1);
}

.activitySection {
  background-color: red;
  margin-left: 10%;
  margin-right: 10%;
}

.focusSection {
  text-align: center;
}

.focusTime {
  font-size: 10em;
}

.basicTimeDisplay {
  display: inline-block;
}

.actionSection {
  height: 10%;
}

.actionButtons {
  width: 33%;
  margin-left: 33%;
  height: 100%;
  display: flex;
}

.actionButtons button {
  height: 100%;
  flex-grow: 1;
}

.standardButton {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.standardButton:hover { 
  color: white;
  background: black;
}

.circleTimeDisplay {
}

.timerCircle {
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
}

.timerCircleFill {
  display: inline-block;
}

.historyContainer {
  display: flex;
  flex-direction: horizontal;
}

.historyEntry {
  display: inline-block;
  margin: 5px;
}

